/* @import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    font-size: 1rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


} */

/* body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
} */


#navbar {
    background-color: black;
    transition: top 0.3s;
    display: flex;
    position: fixed;
    top: 0px;
    height: 80px;

    width: 100%;
    z-index: 10;
    box-shadow: 4px 0 20px -5px rgb(0 0 0 / 10%);


}




.logo img {


    height: 80px;

    margin-left: 10vw;


    margin-bottom: 0.3vh;

}

#navbar a {
    margin-top: 10px;

    display: flex;
    color: #f0f7ff;
    text-align: center;
    padding: 1.5vw;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

#navbar a:hover {
    color: #007bff;
}

.nav-wrapper {
    display: flex;
    margin-left: 35vw;
    /* width: 0px;
    overflow: hidden; */
}

.menu-button {
    background-color: #007bff;
    border: none;
    color: white;
    /* padding: 12px 16px; */
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: all ease 0.5s;
    width: 0px;
    padding: 0;
    overflow: hidden;
}

/* Darker background on mouse-over */
.menu-button:hover {
    background-color: #0060c7;
}








.dropbtn {
    background-color: rgba(0, 0, 0, 0);

    border: none;
    cursor: pointer;

    size: 10px;
    margin-top: 3.5px;

}

.dropdown {
    position: relative;
    display: inline-block;





}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #5f5f5f;
    margin-top: -20px;
    width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    height: 250px;

    border-top: 2px #007bff solid;

}



.dropdown-content a:hover {
    background-color: #707070
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn a {
    color: #007bff;
}

.dropbtntwo {

    color: rgb(232, 244, 255);
    width: 140px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 14px;
    font-size: 16px;
    height: 70px;
    border: none;
    cursor: pointer;
    background-color: #5f5f5f;

    text-align: left;



}


.dropdowntwo {
    position: relative;
    display: inline-block;
    background-color: #5f5f5f;


}

.dropdowntwo-contenttwo {
    display: none;
    position: absolute;
    background-color: #5f5f5f;
    margin-top: -70px;
    margin-left: -139.5px;

    width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);


}

.dropdowntwo-contenttwo a {
    color: rgb(255, 255, 255);


    background-color: #5f5f5f;




}



.dropdowntwo-contenttwo a:hover {
    background-color: #707070;

}

.dropdowntwo:hover .dropdowntwo-contenttwo {
    display: block;
}

.dropdowntwo:hover .dropbtntwo {
    background-color: #707070;
}

.mobile-menu-content ul {
    list-style: none;

}

.mobile-menu-content {
    background-color: rgba(0, 0, 0, 0.7);
    float: right;
    position: absolute;
    text-align: center;
    right: 0px;
    margin-top: 79px;

    width: 0px;
    transition: all ease 0.5s;
    overflow: hidden;


}

.mobile-menu-content li {
    margin-top: -15px;
}

.mobile-menu-content a:hover {
    background-color: #707070;
}

@media screen and (min-width:601px) {
    .nav-wrapper {
        top: 5px;
        position: absolute;
        float: right;
        right: 50px;
    }


}

@media screen and (max-width:600px) {


    .logo {
        margin-left: 150px;
        transform: translate(-50%, -50%);
        margin-top: 30px;
        margin-left: 40%;
        height: 60px;
    }

    .nav-wrapper {
        width: 0px;
        margin-left: 0px;
        overflow: hidden;
    }

    .menu-button {
        right: 10px;
        position: absolute;
        width: 50px;
        padding: 12px 16px;
        float: right;
    }





}

.home {
    text-decoration: none;
    font-size: 20px;
    color: #007bff;
}

.header {
    width: 100%;
    height: 500px;
    opacity: .8;
    background-color: rgb(30, 173, 255);
    background-image: url('/images/headerourteam.JPG');
    background-size: cover;
    background-position: bottom;
}

.container {
    width: 100%;
}

.container h1 {
    font-size: 50px
}

.about {
    padding: 5% 0;
    width: 100%;
    height: auto;
    background-color: #fff;
}

.about .left {
    padding: 2% 0;
    float: left;
    width: 50%;
    display: inline-block;
}

.about .right {
    width: 50%;
    display: inline-block;
}

.about .right img {
    width: 100%
}

.about .left h1 {
    text-align: center;
    color: #1EADFF;
    margin: 0 0 10px 0;
}

.about .left hr {
    width: 20%;
    border-top: 2px solid #000;
    border-bottom: none;
}

.about .left p {
    font-size: 1rem;
    margin: 40px auto;
    width: 80%
}

.mission {
    padding: 5% 0;
    width: 100%;
    height: auto;
    background-color: #fff;
}

.mission .right {
    padding: 2% 0;
    width: 50%;

    display: inline-block;
}

.mission .left {
    float: left;
    width: 50%;

    display: inline-block;
}

.mission .left img {
    width: 100%;
}

.mission .right h1 {
    text-align: center;
    color: #1EADFF;
    margin: 0 0 20px 0;
}

.mission .right hr {
    width: 35%;
    border-top: 2px solid #000;
    border-bottom: none;
}

.mission .right p {
    font-size: 1rem;
    margin: 40px auto;
    width: 80%
}


.team {
    width: 90%;
    margin: auto;
    padding: 5% 5%;
    overflow: hidden;
}

.team h1 {
    text-align: center;
    color: #1EADFF;

}

.team h1 hr {
    width: 15%;
    border-top: 2px solid #000;
    background-color: transperant;
    border-bottom: none;
    margin-bottom: 50px;
}

.team .card {
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    min-width: 20%;
    height: 500px !important;
    height: auto;
    background-color: #fff;
    display: inline-block;
    margin: 40px 6.5%;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.card .circle-container {
    position: relative;
    background-color: #579f79;
    width: 250px;
    height: 250px;
    border: none;
    border-radius: 50%;
    margin: auto;
    color: #fff;
}

.circle-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 60px;

    width: 250px;
    height: 250px;
    border: none;
    border-radius: 50%;
}

.team .card h2 {
    text-align: center;
    margin: 30px 0 0 0;
}

.team .card h4 {
    text-align: center;
    margin: 10px 0 0 0;
}

.team .card p {
    width: 250px;
    margin: 30px auto;
    text-align: center;

}

.clear {
    clear: both;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #28587c;
}

footer p {
    text-align: center;
    padding: 0 2%;
}







/* media */
@media(max-width:1200px) {
    .mission .right p {
        font-size: .8rem;
        margin: 20px auto;
    }

    .about .left p {
        font-size: .8rem;
        margin: 20px auto;
    }
}






@media(max-width:992px) {
    .about .left {
        width: 100%;
    }

    .about .right {
        width: 100%;
    }

    .mission .left {
        width: 100%;
    }

    .mission .right {
        width: 100%;
    }

    .team .card {
        width: 40%;
    }
}

@media(max-width:768px) {
    .team .card {
        width: 100%;
    }

    nav {
        height: 80px;
    }
}

.low-footer-div {
    width: 100%;
    background-color: #222222;

}

.site-footer {
    background-color: #26272b;


    font-size: 15px;
    line-height: 24px;
    color: #737373;

}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    list-style: none;
    text-align: center;
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    padding-right: 10px;
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

.social-icons {
    margin-top: 6px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    opacity: 0.5;
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    opacity: 0.5;
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    opacity: 0.5;
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    opacity: 0.5;
    background-color: #ea4c89
}

.social-icons a.facebook {
    background-image: url('/images/facebooksvg.png');
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-icons a.twitter {
    background-image: url('/images/twittericon.png');
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-icons a.dribbble {
    background-image: url('/images/dribbbblesvg.png');
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-icons a.linkedin {
    background-image: url('/images/linkedinsvg.png');
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.light {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 50px;
    height: 35px;
    width: 35px;
    border: none;
}

.fa-sun {
    color: white;






}

h6 {
    font-size: 20px;
}

.moon {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 20px;
    height: 35px;
    width: 35px;
    border: none;
}

.fa-moon {
    color: white;
}