* {
  margin: 0px;
  padding: 0px;

}

body {
  background-color: white;
  margin: 0px;
  padding: 0px;
  font-weight: 300;
  font-size: 1rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


}

#navbar {
  background-color: #26272b;
  transition: top 0.3s;
  display: flex;
  position: fixed;
  top: 0px;
  height: 80px;

  width: 100vw;
  z-index: 10;
  box-shadow: 4px 0 20px -5px rgb(0 0 0 / 10%);


}




.logo img {
  height: 80px;
  margin-left: 10vw;
  margin-bottom: 0.3vh;

}

#navbar a {
  margin-top: 10px;

  display: flex;
  color: #f0f7ff;
  text-align: center;
  padding: 1.5vw;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

#navbar a:hover {
  color: #007bff;
}

.nav-wrapper {
  display: flex;
  margin-left: 35vw;

}

.menu-button {
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: all ease 0.5s;
  width: 0px;
  padding: 0;
  overflow: hidden;
}


.menu-button:hover {
  background-color: #0060c7;
}








.dropbtn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  size: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;





}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5f5f5f;
  margin-top: -20px;
  width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  height: 250px;

  border-top: 2px #007bff solid;

}


.dropdown-content a:hover {
  background-color: #707070
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn a {
  color: #007bff;
}

.dropbtntwo {

  color: rgb(232, 244, 255);
  width: 140px;

  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 14px;
  font-size: 16px;
  height: 70px;
  border: none;
  cursor: pointer;
  background-color: #5f5f5f;

  text-align: left;



}


.dropdowntwo {
  position: relative;
  display: inline-block;
  background-color: #5f5f5f;


}

.dropdowntwo-contenttwo {
  display: none;
  position: absolute;
  background-color: #5f5f5f;
  margin-top: -70px;
  margin-left: -139.5px;

  width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);


}

.dropdowntwo-contenttwo a {
  color: rgb(255, 255, 255);


  background-color: #5f5f5f;




}



.dropdowntwo-contenttwo a:hover {
  background-color: #707070;

}

.dropdowntwo:hover .dropdowntwo-contenttwo {
  display: block;
}

.dropdowntwo:hover .dropbtntwo {
  background-color: #707070;
}

.mobile-menu-content ul {
  list-style: none;

}

.mobile-menu-content {
  background-color: rgba(0, 0, 0, 0.7);
  float: right;
  position: absolute;
  text-align: center;

  right: 0px;
  margin-top: 79px;

  width: 0px;
  transition: all ease 0.5s;
  overflow: hidden;


}

.mobile-menu-content li {

  margin-top: -15px;
}

.mobile-menu-content a:hover {

  background-color: #707070;
}

@media screen and (min-width:601px) {
  .nav-wrapper {
    top: 5px;
    position: absolute;
    float: right;
    /* right: 50px; */
  }


}

@media screen and (max-width:600px) {


  .logo {
    margin-left: 150px;
    transform: translate(-50%, -50%);
    margin-top: 30px;
    margin-left: 40%;
    height: 60px;
  }

  .nav-wrapper {
    width: 0px;
    margin-left: 0px;
    overflow: hidden;
  }

  .menu-button {
    right: 10px;
    position: absolute;
    width: 50px;
    padding: 12px 16px;
    float: right;
  }

}




/*-----------------------------------------------------------------------HEADER--------------------------------------------------------------------*/

.slider {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide-ana {
  height: 100%;
}

.slide-ana div {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 1s;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.slider span {
  height: 50px;
  position: absolute;
  top: 50%;
  margin: -25px 0 0 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.title {
  top: 80% !important;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  cursor: auto !important;
  padding: 0 20px;
}

.slide-ana {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

#prev {
  left: 0;

  border-radius: 0 10px 10px 0;
  width: 60px;
}

#next {

  right: 0;
  border-radius: 10px 0 0 10px;
}

#prev svg,
#next svg {
  width: 100%;
  fill: #fff;
}

#prev:hover,
#next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



/*--------------------------------------------------------------------FORM------------------------------------------------------------*/



.form-image {
  background-image: url('/images/bg-form-img-dark.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

}

.form-division {

  position: absolute;
  background-color: rgba(249, 249, 255, 0.1);

  height: 50vh;
  margin-top: 15vh;
  margin-left: 10%;
  border: 2px #818181 solid;
  border-radius: 30px;

  font: 13px Roboto;
  color: grey;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);



#form {
  width: 350px;
  margin: 0 auto;

}

h2.contact-us {
  margin-top: 6vh;
  margin-bottom: 40px;
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  color: #007bff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
  color: #555;
}

.item {
  border: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  display: block;
  box-shadow: rgb(85, 85, 85) 0px 8px 6px -6px;
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  transition: all ease 0.4s;
}

.form-division .message {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: rgb(85, 85, 85) 0px 8px 6px -6px;
  height: 100px;
  width: 100%;
}

.message:focus {
  border: none;
}



#submit,
#reset {
  float: right;
  margin-right: 5px;
}


.button {
  display: inline-block;

  background-color: #007bff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;

  width: 90px;
  height: 30px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;

}


.button:hover {
  background-color: #0460c4
}

.button:active {
  background-color: #0360c4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.json-aera {

  width: 450px;
  background-color: rgba(29, 29, 29, 0.7);
  opacity: 0.7;
  margin-top: 15vh;
  margin-right: 3%;
  float: right;
  transition: all ease 0.5s;
}

.json-aera p {
  opacity: 1;
  color: rgb(226, 226, 226);
  padding-left: 20px;

}


@media screen and (min-width:1000px) {

  .json-aera {
    height: 60%;
    width: 30vw;
    background-color: rgba(29, 29, 29, 0.7);
    opacity: 0.7;
    margin-top: 18vh;
    margin-right: 3%;
    float: right;
    transition: all ease 0.5s;
  }

  .form-division {
    min-width: 480px;
    position: absolute;

    height: 63vh;
    width: 30vw;
    margin-top: 15vh;
    margin-left: 10%;
    font: 13px Roboto;
    color: rgba(29, 29, 29, 0.7);
  }


}

@media screen and (max-width:1000px) {

  .form-division {

    position: absolute;

    height: 63vh;
    width: 50vw;
    margin-top: 15vh;
    margin-left: 10%;
    font: 13px Roboto;
    color: rgba(29, 29, 29, 0.7);
  }

  .json-aera {
    height: 60%;
    width: 30vw;
    background-color: rgba(29, 29, 29, 0.7);
    opacity: 0.7;
    margin-top: 18vh;
    margin-right: 3%;
    float: right;
    transition: all ease 0.5s;
  }

}

@media screen and (max-width:600px) {
  .form-division {

    width: 65vw;
    left: 2px;
    height: 90vh;
    background-color: rgba(29, 29, 29, 0.7);

  }

  .slider {
    height: 80vh;
  }

  #form {
    width: 80vw;
    margin: 0 auto;

  }

  .jsonshowup {
    display: block;
    width: 90px;
  }



}


@media screen and (max-width:800px) {
  .form-division {

    position: absolute;
    background-color: rgba(29, 29, 29, 0.7);
    height: 65vh;
    width: 85vw;
    margin-top: 15vh;
    margin-left: 7%;
    font: 13px Roboto;

  }



  .json-aera {
    width: 0px;
    overflow: hidden;
    height: 60%;
    background-color: rgba(29, 29, 29, 0.7);
    margin-top: 18vh;
    margin-right: 3%;
    float: right;
    transition: all ease 0.5s;

  }
}

@media screen and (min-width:800px) {
  .jsonshowup {
    display: none;
    width: 0px;
  }
}


.label {
  color: white;
}



p.jsoninput {
  color: #00ff00;
  font-size: 20px;
  opacity: 1;
  font-weight: 400;
}

.jsontitle {
  margin-top: -50px;
  opacity: 1;
}

/*-----------------------------------------------------------------------VIDEOCENTER--------------------------------------------------------------------*/
.videoc-enter {
  background-image: url('/images/bg-videocenter.jpg');
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.this-is-for-the-good {
  font-size: 24px;
  color: #cacaca;
}

.video-cards {

  position: relative;
  margin-left: 12.5%;

  /* justify-content: space-between; */
  display: flex;
  width: 100vw;
  gap: 59px;

}

.v-card {


  width: 200px;
  height: 300px;
  border: 3px #737373 solid;
  background-color: #1c1c1c;
  box-shadow: 8px 8px rgb(3 3 3 / 50%);
  transition: all 0.5s;
}

.v-card:hover {
  transform: translate(0, -30px);
  border: 3px #007bff solid;
}

.v-card:active {
  transform: translate(0, -30px);
  border: 3px #007bff solid;
}

.hello {

  width: 200px;
  height: 75%;
  background-size: contain;

}

.howard {
  font-size: 16px;
  color: grey;
  padding-left: 10px;
}


/*================================================FOOTER=========================================================*/
.low-footer-div {
  width: 100%;
  background-color: #222222;

}

.site-footer {
  background-color: #26272b;


  font-size: 15px;
  line-height: 24px;
  color: #737373;

}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  list-style: none;
  text-align: center;
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  padding-right: 10px;
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

.social-icons {
  margin-top: 6px;
  padding-left: 0;
  margin-bottom: 0px;

  list-style: none;




}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  opacity: 0.5;
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  opacity: 0.5;
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  opacity: 0.5;
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  opacity: 0.5;
  background-color: #ea4c89
}

.social-icons a.facebook {
  background-image: url('/images/facebooksvg.png');
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-icons a.twitter {
  background-image: url('/images/twittericon.png');
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-icons a.dribbble {
  background-image: url('/images/dribbbblesvg.png');
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-icons a.linkedin {
  background-image: url('/images/linkedinsvg.png');
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.light {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 50px;
  height: 35px;
  width: 35px;
  border: none;
}

.fa-sun {
  color: white;






}

.moon {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 20px;
  height: 35px;
  width: 35px;
  border: none;
}

.fa-moon {
  color: white;
}

h6 {
  font-size: 24px;
}