* {
  margin: 0;
  padding: 0;
  /* outline: 1px green solid; */
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(157, 200, 230);
}

#navbar {
  background: rgb(208, 238, 255);
  background-image: linear-gradient(to bottom, rgb(208, 238, 255), rgb(171, 212, 240));
  position: fixed;
  top: 0;
  height: 80px;
  line-height: 60px;
  width: 100%;
  z-index: 10;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 4px;
}

.logo img {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  top: 2px;
}

#navbar ul {
  display: inline-block;
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: rgb(13, 26, 38);
  font-size: 1.1em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

#navbar li a:hover {
  text-underline-position: below;
  color: rgb(28, 121, 184);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

#navbar li a:before,
#navbar li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(13, 26, 38);
}

#navbar li a:hover:before {
  background: rgb(13, 26, 38);
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
}

/*------------------HERO----------------*/
.hero-background {
  margin-top: 82px;
  width: 100vw;
  position: relative;
  height: 100vh;
}

.hero-background>.hero-layer {
  position: relative;
  background-color: #2f3946;
  background-size: contain;
  margin: 0;
  width: 100%;
  height: 45%;
  background-image: linear-gradient(to bottom, #2f3946, rgb(144, 196, 231));
  background-position: to bottom;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}

.bgx,
.overlayx {
  text-align: center;
}

img,
.overlayx {
  transition: .3s all;
  border-radius: 3px;
}

.bgx {
  float: left;
  position: relative;
}

.bgx figure img {
  width: 33vw;
  height: 100%;
  box-shadow: 10px 10px 5px 12px lightslategray;
}

.pictwo img {
  width: 33vw;
  height: 100%;
}

.picthree img {
  width: 33vw;
  height: 100%;
}

.overlayx {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(29, 199, 211);
  opacity: 0;
}

.bgx h2 {
  padding-top: 20%;
  font-family: 'Droid Serif', serif;
}

.bgx p {
  font-family: 'Julius Sans One', sans-serif;
}

.bgx:hover .overlayx {
  opacity: 1;
}

.bgx:hover img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  opacity: 0.7;
}

.companyhost {
  position: sticky;
  display: flex;
  height: 20vh;
}

.overlayhost {
  position: absolute;
  margin-top: 45px;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.overlayhost>.titlecomp {
  font-weight: bold;
  font-size: 2.5em;
  font-family: 'Helvetica';
  letter-spacing: 2px;
}

.overlayhost p {
  font-size: 1.5em;
  font-family: arial;
}

.imghost {

  width: 100%;
  height: auto;
  background-image: url('/images/hostcompany.jpg');
  background-size: 100% 100%;

}

.imghost figure img {

  display: flex;
  position: relative;
  margin-bottom: 20vh;
  width: 100%;
  background-size: 100% 100%;
  /* filter: invert(50%);*/
}

.overlayintro {
  position: absolute;
  top: 20vh;
  bottom: 100%;
  left: 0;
  right: 0;
  background-image: url('/images/overflow.jpg');
  overflow: hidden;
  background-size: 100% 100%;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.companyhost:hover .overlayintro {
  bottom: 0;
  height: 80%;
  overflow-x: auto;
}

.intro p {
  white-space: nowrap;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-size: 1em;
  position: absolute;
  overflow: hidden;
  margin-top: 60px;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/*--------------------SERVICES----------------------------*/
.services {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: unset;
}

.services>.cards {

  background-size: contain;
  width: 100%;
  height: 100%;
}

.services>.cards>.cardlineone {

  display: flex;
  position: static;
  justify-content: space-between;
  background-size: contain;
  height: 45%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 85%;
}

.services>.cards>.cardlineone>.cardone {
  background-size: contain;
  background-color: white;
  border-top: 2px grey solid;
  border-left: 2px grey solid;
  border-right: 2px grey solid;
  border-bottom: 2px grey solid;
  width: 31%;
  margin-top: 2%;
  height: 95%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px auto;
}

.services>.cards>.cardlineone>.cardone figure img {
  position: absolute;
  background-size: contain;
  margin-left: 1%;
  margin-top: 1vh;
  width: 24.35%;
  height: 33vh;
  overflow: auto;
}

.services>.cards>.cardlineone>.cardone h2 {
  position: sticky;
  margin-top: 35vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: sans-serif;
  color: rgb(55, 55, 55);
}

.overlaycardone {
  position: absolute;
  top: 43.5vh;
  bottom: 100%;
  left: 7.5%;
  overflow: hidden;
  width: 26.35%;
  height: 0;
  transition: .5s ease;
  z-index: 1;
}

.cardone:hover .overlaycardone {
  bottom: 0;
  height: 55%;
  overflow-x: auto;
  background-color: white;
  border-left: 2px grey solid;
  border-right: 2px grey solid;
  border-bottom: 2px grey solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1;
}

.specmodone p {
  white-space: nowrap;
  font-size: 1em;
  overflow: hidden;
  padding: 20px auto;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.specmodone em {
  margin-left: 30px;
  color: rgb(80, 80, 80);
  font-size: 1.6em;
  font-family: 'arial';
}

.services>.cards>.cardlineone>.cardtwo {
  background-size: contain;
  background-color: white;
  border-top: 2px grey solid;
  border-left: 2px grey solid;
  border-right: 2px grey solid;
  border-bottom: 2px grey solid;
  width: 31%;
  margin-top: 2%;
  height: 95%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px auto;
}

.services>.cards>.cardlineone>.cardtwo figure img {
  position: absolute;
  background-size: contain;
  margin-left: 1%;
  margin-top: 1vh;
  width: 24.35%;
  height: 33vh;
  overflow: auto;
}

.services>.cards>.cardlineone>.cardtwo h2 {
  position: sticky;
  margin-top: 35vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: sans-serif;
  color: rgb(55, 55, 55);
}

.overlaycardtwo {
  position: absolute;
  top: 43.5vh;
  bottom: 100%;
  left: 36.7%;
  overflow: hidden;
  width: 26.35%;
  height: 0;
  transition: .5s ease;
  z-index: 1;
}

.cardtwo:hover .overlaycardtwo {
  bottom: 0;
  height: 55%;
  overflow-x: auto;
  background-color: white;
  border-left: 2px grey solid;
  border-right: 2px grey solid;
  border-bottom: 2px grey solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1;
}

.specmodtwo p {
  white-space: nowrap;
  font-size: 1em;
  overflow: hidden;
  padding: 20px auto;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.specmodtwo em {
  margin-left: 30px;
  color: rgb(80, 80, 80);
  font-size: 1.6em;
  font-family: 'arial';
}

.services>.cards>.cardlineone>.cardthree {
  background-size: contain;
  background-color: white;
  border-top: 2px grey solid;
  border-left: 2px grey solid;
  border-right: 2px grey solid;
  border-bottom: 2px grey solid;
  width: 31%;
  margin-top: 2%;
  height: 95%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px auto;
}

.services>.cards>.cardlineone>.cardthree figure img {
  position: absolute;
  background-size: contain;
  margin-left: 1%;
  margin-top: 1vh;
  width: 24.35%;
  height: 33vh;
  overflow: auto;
}

.services>.cards>.cardlineone>.cardthree h2 {
  position: sticky;
  margin-top: 35vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: sans-serif;
  color: rgb(55, 55, 55);
}

.overlaycardthree {
  position: absolute;
  top: 43.5vh;
  bottom: 100%;
  right: 7.5%;
  overflow: hidden;
  width: 26.35%;
  height: 0;
  transition: .5s ease;
  z-index: 1;
}

.cardthree:hover .overlaycardthree {
  bottom: 0;
  height: 55%;
  overflow-x: auto;
  background-color: white;
  border-left: 2px grey solid;
  border-right: 2px grey solid;
  border-bottom: 2px grey solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}

.specmodthree p {

  white-space: nowrap;

  font-size: 1em;
  overflow: hidden;
  padding: 20px auto;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.specmodthree em {
  margin-left: 30px;
  color: rgb(80, 80, 80);
  font-size: 1.6em;
  font-family: 'arial';
}

.services>.cards>.cardlinetwo {
  display: flex;
  position: unset;
  justify-content: space-between;
  background-size: contain;
  height: 45%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 85%;
  /* border: 2px blue solid;*/
}

.services>.cards>.cardlinetwo>.cardfour {
  background-size: contain;
  background-color: white;
  border-top: 2px grey solid;
  border-left: 2px grey solid;
  border-right: 2px grey solid;
  border-bottom: 2px grey solid;
  width: 31%;
  margin-top: 2%;
  height: 95%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px auto;
}

.services>.cards>.cardlinetwo>.cardfour figure img {
  position: absolute;
  background-size: contain;
  margin-left: 1%;
  margin-top: 1vh;
  width: 24.35%;
  height: 33vh;
  overflow: auto;
}

.services>.cards>.cardlinetwo>.cardfour h2 {
  position: unset;
  margin-top: 35vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: sans-serif;
  color: rgb(55, 55, 55);
}

.overlaycardfour {
  position: absolute;
  top: 88.5vh;
  bottom: 100%;
  left: 7.5%;
  overflow: hidden;
  width: 26.35%;
  height: 0;
  transition: .5s ease;
}

.cardfour:hover .overlaycardfour {
  bottom: 0;
  height: 55%;
  overflow-x: auto;
  background-color: white;
  border-left: 2px grey solid;
  border-right: 2px grey solid;
  border-bottom: 2px grey solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.specmodfour p {
  white-space: nowrap;
  font-size: 1em;
  overflow: hidden;
  padding: 20px auto;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.specmodfour em {
  margin-left: 30px;
  color: rgb(80, 80, 80);
  font-size: 1.6em;
  font-family: 'arial';
}

.services>.cards>.cardlinetwo>.cardfive {
  background-size: contain;
  background-color: white;
  border-top: 2px grey solid;
  border-left: 2px grey solid;
  border-right: 2px grey solid;
  border-bottom: 2px grey solid;
  width: 31%;
  margin-top: 2%;
  height: 95%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px auto;
}

.services>.cards>.cardlinetwo>.cardfive figure img {
  position: absolute;
  background-size: contain;
  margin-left: 1%;
  margin-top: 1vh;
  width: 24.35%;
  height: 33vh;
  overflow: auto;
}

.services>.cards>.cardlinetwo>.cardfive h2 {
  position: unset;
  margin-top: 35vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: sans-serif;
  color: rgb(55, 55, 55);
}

.overlaycardfive {
  position: absolute;
  top: 88.5vh;
  bottom: 100%;
  left: 36.7%;
  overflow: hidden;
  width: 26.35%;
  height: 0;
  transition: .5s ease;
}

.cardfive:hover .overlaycardfive {
  bottom: 0;
  height: 55%;
  overflow-x: auto;
  background-color: white;
  border-left: 2px grey solid;
  border-right: 2px grey solid;
  border-bottom: 2px grey solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.specmodfive p {
  white-space: nowrap;
  font-size: 1em;
  overflow: hidden;
  padding: 20px auto;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.specmodfive em {
  margin-left: 30px;
  color: rgb(80, 80, 80);
  font-size: 1.6em;
  font-family: 'arial';
}

.services>.cards>.cardlinetwo>.cardsix {
  background-size: contain;
  background-color: white;
  border-top: 2px grey solid;
  border-left: 2px grey solid;
  border-right: 2px grey solid;
  border-bottom: 2px grey solid;
  width: 31%;
  margin-top: 2%;
  height: 95%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px auto;
}

.services>.cards>.cardlinetwo>.cardsix figure img {
  position: absolute;
  background-size: contain;
  margin-left: 1%;
  margin-top: 1vh;
  width: 24.35%;
  height: 33vh;
  overflow: auto;
}

.services>.cards>.cardlinetwo>.cardsix h2 {
  position: sticky;
  margin-top: 35vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: sans-serif;
  color: rgb(55, 55, 55);
}

.overlaycardsix {
  position: absolute;
  top: 88.5vh;
  bottom: 100%;
  right: 7.5%;
  overflow: hidden;
  width: 26.35%;
  height: 0;
  transition: .5s ease;
}

.cardsix:hover .overlaycardsix {
  bottom: 0;
  height: 55%;
  overflow-x: auto;
  background-color: white;
  border-left: 2px grey solid;
  border-right: 2px grey solid;
  border-bottom: 2px grey solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.specmodsix p {
  white-space: nowrap;
  font-size: 1em;
  overflow: hidden;
  padding: 20px auto;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.specmodsix em {
  margin-left: 30px;
  color: rgb(80, 80, 80);
  font-size: 1.6em;
  font-family: 'arial';
}

/*-----------------CONTACT----------------------*/
.contact {
  margin-top: 50px;

  height: 100vh;
}

.titlea {

  display: flex;
  position: static;
}

.titleabout {
  margin-bottom: 50px;
  left: auto;
  right: auto;
  font: 3em Arial;
  color: #484950;
  text-align: center;

}

.AT {
  position: inherit;
  background-color: #484950;
  background-image: linear-gradient(to top, #484950, rgb(144, 196, 231));
  background-position: top;
  width: 100vw;
  height: 200px;
  align-items: center;
}

.AT>p {
  font-size: 1.3em;
  font: Helvetica;
  margin-left: 40px;
  margin-right: 40px;
  margin: 30px;
  color: rgb(212, 212, 255);
  text-align: center;
  align-items: center;

}

.contact-us {
  width: 350px;
  float: left;
  margin-top: 60px;
  background: #fff;
  padding: 50px;
  margin: 30px 100px;
  border-radius: 30px;
  position: relative;
}

.titlea h1 {

  top: 80px;
  color: #535274;
  letter-spacing: 5px;
  margin-bottom: 25px;

}

*/ .title h1 {
  color: #535274;
  font-size: 3em;
  letter-spacing: 5px;
  margin-bottom: 25px;
}

.form,
.form-items {
  width: 100%;
}

.form-items .input {
  width: 100%;
  margin-bottom: 12px;
  padding: 15px 40px;
  box-sizing: border-box;
  background: #ebeef1;
  border: 0px;
  outline: none;
  border-radius: 30px;
}

.form-items .input.message {
  height: 125px;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 15px 15px;
}

.submit {
  background-color: #6388e6;
  color: #fff;
  height: 60px;
  width: 250px;
  font-size: 1.4em;
  margin-left: 50px;
  border-radius: 20px;
}

.btn:hover {
  background-size: 120%;
  opacity: 0.3;
}

.btn .fas {
  margin-left: 10px;
  font-size: 12px;
}

.form-items {
  position: relative;
}

.form-items .fas {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #9a99aa;
}

.picturesvg {
  position: relative;
}

.picturesvg a {
  background-color: #00aced;
  height: 300px;
  width: 430px;
  font: 1em Helvetica;
  border-radius: 25px;
  opacity: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.picturesvg figure img {
  position: relative;
  margin-top: 60px;
  height: 300px;
  width: 430px;
  border-radius: 25px;
  float: right;
  margin-right: 100px;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.picturesvg figure:hover img {
  opacity: 0.5;
}

.picturesvg a:hover {
  opacity: 1;
}

.trusted-by {
  margin-top: 30px;
  list-style: none;
  display: inline-block;
  gap: 20px;
}

.trusted-by h3 {
  font-size: 2.4em;
  margin-left: 130px;
  align-items: center;
  color: #80959ccc;
}

.trusted-by figure img {
  margin-left: 40px;
  width: 80px;
  height: 80px;
  opacity: 0.8;
}

/*---------------FOOTER----------------*/
.site-footer {
  background-color: #26272b;
  margin-top: 60px;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  width: 100vw;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px auto
}

.site-footer h6 {
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  list-style: none;
  text-align: center;
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

.social-icons {
  margin-top: 6px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  opacity: 0.5;
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  opacity: 0.5;
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  opacity: 0.5;
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  opacity: 0.5;
  background-color: #ea4c89
}

.social-icons a.facebook {
  background-image: url('/images/facebooksvg.png');
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-icons a.twitter {
  background-image: url('/images/twittericon.png');
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.social-icons a.dribbble {
  background-image: url('/images/dribbbblesvg.png');
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-icons a.linkedin {
  background-image: url('/images/linkedinsvg.png');
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer>.container>.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /*border: 3px blue solid;*/
}

footer>.container>.row>.aproposfirst {
  width: 60vw;
}

footer>.container>.row>.apropossecond {
  width: 20vw;
  text-align: center;
}

footer>.container>.row>.aproposthird {
  width: 20vw;
  text-align: center;
}

#homehero {
  position: unset;
  margin-bottom: 100px;
}